* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Navigation Section */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Hero Section */

.hero {
    min-height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    line-height: 1;
}

.hero p {
    color: #4b5563;
}

.hero h1,
.hero p {
    margin-bottom: 8px;
}

.hero-img {
    margin-right: 20px;
}

.hero-img img {
    height: 500px;
}

/* Work Section */